<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input type="number" [(ngModel)]="baseAmount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="baseCurrency">
          @for (currency of allCurrencies; track currency) {
            <ion-select-option [value]="currency">{{ currency }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-button class="convert-btn" (click)="convert()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-button>
      <ion-item>
        <ion-select [(ngModel)]="convertedCurrency">
          @for (currency of allCurrencies; track currency) {
            <ion-select-option [value]="currency">{{ currency }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <p class="converted-amount">{{ convertedAmount }}</p>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
